html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block;
}

* {
  box-sizing: border-box;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr {
  letter-spacing: 0.1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 70%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

html {
  font-size: 100%;
  font-size: 16px;
  font-family: "Georgia", serif;
  color: "Georgia", serif;
  font-weight: 400;
}

* {
  line-height: 1.625;
}

p {
  margin-bottom: 1.625rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem;
}

h5 {
  font-size: 0.815rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem;
}

h1 + h2 {
  margin-top: 1.625rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.8125rem;
}

h5 + h6 {
  margin-top: -0.8125rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia", serif;
  font-weight: normal;
}

h1.grid-title,
h2.grid-title,
h3.grid-title,
h4.grid-title {
  margin: 0;
}

h5, h6 {
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

a {
  color: #728EAD;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}

a:visited {
  color: #728EAD;
}

a:active {
  color: #445b75;
}

a:hover {
  color: #445b75;
}

a:hover:visited {
  color: #445b75;
}

figure {
  margin: 0;
}

figcaption {
  line-height: 1.625;
  color: #261D19;
  margin-bottom: 0;
  text-align: center;
}

blockquote {
  margin: 1.625rem 0;
  font-weight: 500;
}

cite {
  font-style: normal;
}

figure blockquote {
  padding: 1.625rem 0;
}

figure blockquote p {
  font-size: 1.6875rem;
  line-height: 2.4375;
}

ul li,
ol li {
  margin-bottom: 0;
}

hr {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
  border: 0;
  color: #261D19;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: -webkit-linear-gradient(top, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  width: 100px;
}

small {
  line-height: 0.8125;
}

code {
  padding: 1.625rem;
}

.skip-link {
  margin: 0 auto;
  padding: 0;
}

.skip-link li {
  list-style-type: none;
}

.visually-hidden,
.element-invisible {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.25em);
            transform: translateY(-1.25em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.25em);
            transform: translateY(-1.25em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.wrapper--inner {
  padding: 0 1.625rem;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
}

.form-item {
  margin-bottom: 0.8125rem;
}

.select-wrapper {
  padding: 0.4875rem 0.4875rem;
  border: 1px solid #eaeaea;
  position: relative;
  max-width: 500px;
}

.select-wrapper::after {
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  right: 10px;
  content: '\25bc';
  display: inline-block;
  pointer-events: none;
}

.select-wrapper__select {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
  z-index: 2;
  font-size: 1em;
  height: 25px;
}

i {
  margin: 0rem 0.8125rem 0rem 0rem;
  font-weight: bold;
}

.banner-image {
  position: relative;
  text-align: center;
}

.banner-image > img {
  width: 100%;
}

.banner-image__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.branding__site-logo {
  min-width: 75px;
}

details {
  margin: 1.625rem 0;
}

details .summary {
  padding: 0.8125rem 0.8125rem;
  background: #f5f5f5;
  cursor: pointer;
}

details .summary__icon, details .summary__title {
  display: inline-block;
}

details .details-wrapper {
  padding: 0.8125rem 0.8125rem;
}

.messages {
  padding: 0.4875rem 1.3rem;
  font-size: 0.8rem;
  color: #888;
  background-color: #f5f5f5;
  border: 2px solid #dddddd;
}

.messages--success {
  padding: 0.4875rem 1.3rem;
  font-size: 0.8rem;
  color: #40C27A;
  background-color: #eefaf3;
  border: 2px solid #c7edd8;
}

.messages--warning {
  padding: 0.4875rem 1.3rem;
  font-size: 0.8rem;
  color: #E09600;
  background-color: #fff5e0;
  border: 2px solid #ffe4ad;
}

.messages--error {
  padding: 0.4875rem 1.3rem;
  font-size: 0.8rem;
  color: #FF6A40;
  background-color: #fff5f3;
  border: 2px solid #ffcdc0;
}

.breadcrumb {
  padding: 0.8125rem 0;
}

.breadcrumb__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumb__item {
  display: inline;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 0rem 0.8125rem 0rem 0rem;
  list-style-type: none;
  display: inline;
}

.menu__item--expanded {
  position: relative;
}

.menu__item--expanded:hover .sub-menu, .menu__item--expanded:focus .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.tabs {
  margin: 0.8125rem 0;
  display: inline-block;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.tabs__tab {
  font-size: 1rem;
  display: inline-block;
  overflow: auto;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-radius: 5px 5px 0 0;
}

.tabs__tab.is-active {
  border: 1px solid #eaeaea;
  border-bottom: 1px solid transparent;
  border-left: 0;
}

.tabs__tab:first-child {
  border-left: 1px solid #eaeaea;
}

.tabs__tab-link {
  padding: 0.4875rem 0.8125rem;
  display: inline-block;
  background: #f5f5f5;
}

.tabs__tab-link.is-active {
  background: transparent;
}

.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sticky-footer .wrapper-main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}

.wrapper-header__inner {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

@media (min-width: 48em) {

  * {
    line-height: 1.625;
  }

  .layout-sidebar-first .wrapper-main__inner, .layout-sidebar-second .wrapper-main__inner {
    js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .layout-sidebar-first .column.main, .layout-sidebar-second .column.main {
    padding: 0rem 0rem 0rem 3.25rem;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }

  .layout-sidebar-first .column.sidebar, .layout-sidebar-second .column.sidebar {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .layout-sidebar-second .column.main {
    padding: 0rem 3.25rem 0rem 0rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .layout-sidebar-second .column.sidebar {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .layout-two-sidebars .wrapper-main__inner {
    js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .layout-two-sidebars .column.main {
    padding: 0 1.625rem;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }

  .layout-two-sidebars .column.sidebar {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .layout-two-sidebars .column.sidebar.sidebar--first {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .layout-two-sidebars .column.sidebar.sidebar--second {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

@media (min-width: 75em) {

  blockquote {
    margin: 1.625rem -3.25rem;
  }
}

@media screen and (min-width: 85em) {

  body,
  html {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  html {
    font-size: 16px;
    font-size: 1rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.6875;
    margin-top: 1.6875rem;
    margin-bottom: 1.6875rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.6875;
    margin-top: 2.10938rem;
    margin-bottom: 0.84375rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.6875;
    margin-top: 1.6875rem;
    margin-bottom: 0.84375rem;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 1.6875;
    margin-top: 1.6875rem;
    margin-bottom: 0.84375rem;
  }

  h5 {
    font-size: 0.815rem;
    line-height: 1.6875;
    margin-top: 2.10938rem;
    margin-bottom: 0.84375rem;
  }

  h6 {
    font-size: 0.75rem;
    line-height: 1.6875;
    margin-top: 2.10938rem;
    margin-bottom: 0.84375rem;
  }

  h1 + h2 {
    margin-top: 1.6875rem;
  }

  h2 + h3,
  h3 + h4,
  h4 + h5 {
    margin-top: 0.84375rem;
  }

  h5 + h6 {
    margin-top: -0.84375rem;
  }

  figure.floatLeft,
  figure.floatRight {
    max-width: 640px;
    max-width: 40rem;
    padding: 0 1.6875rem;
  }

  figure.floatLeft blockquote,
  figure.floatRight blockquote {
    padding: 0;
    text-align: left;
  }

  figure.floatLeft blockquote p,
  figure.floatRight blockquote p {
    font-size: 1.2rem;
    line-height: 1.6875;
  }

  figcaption {
    line-height: 1.6875;
    margin-bottom: 0;
  }

  figure blockquote {
    padding: 3.375rem 0 1.6875rem;
    text-align: center;
  }

  figure blockquote p {
    font-size: 1.6875rem;
    line-height: 2.53125;
  }

  hr {
    margin-top: 3.375rem;
    margin-bottom: 3.375rem;
    height: 27px;
    height: 1.6875rem;
  }

  hr {
    background-size: 100% 27px;
    background-size: 100% 1.6875rem;
    background-image: -webkit-linear-gradient(top, transparent 1px, transparent 11.5px, #261D19 11.5px, #261D19 15.5px, transparent 15.5px, transparent 27px);
    background-image: linear-gradient(to bottom, transparent 1px, transparent 11.5px, #261D19 11.5px, #261D19 15.5px, transparent 15.5px, transparent 27px);
  }

  small {
    line-height: 0.84375;
  }

  code {
    padding: 1.6875rem;
  }
}
