details {
  @include margin-bottom(1);

  summary {
    @include padding(.5, .5);

    background: $light-gray;
    cursor: pointer;

    i {
      @include margin(0, .5, 0, 0);
    }

    &[aria-expanded="false"] {
      i:before {
        content: "\f0fe";
      }
    }
  }

  .details-wrapper {
    @include padding(.5, .5);

    border: 1px solid $light-gray;
    border-top: 0;
  }
}
