details {
  @include margin(1, 0);

  .summary {
    @include padding(.5, .5);

    background: $wild-sand;
    cursor: pointer;

    &__icon,
    &__title {
      display: inline-block;
    }
  }

  .details-wrapper {
    @include padding(.5, .5);
  }
}
