details {
  @include margin(1, 0);

  summary {
    @include padding(.5, .5);

    background: $light-gray;
    cursor: pointer;

    i {

      &:before {
        content: '-';
      }
    }

    &[aria-expanded='false'] {

      i:before {
        content: '+';
      }
    }
  }

  .details-wrapper {
    @include padding(.5, .5);

    border: 1px solid $light-gray;
    border-top: 0;
  }
}
