<div class="left-sidebar">
  <div class="row row--top">
    {{ content.top_row }}
  </div>
  <div class="sidebar sidebar--left col-xs col-sm col-md-5 col-lg-4">
    {{ content.left_sidebar }}
  </div>
  <div class="main-region">
    {{ content.main }}
  </div>
  <div class="row row--bottom">
    {{ content.bottom_row }}
  </div>
</div>
