.nav {

  ul {
    margin: 0;
    padding: 0;
  }

  .sub-menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .menu-item {
    list-style-type: none;
    display: inline;
    @include margin(0, 1, 0, 0);

    &--expanded {
      position: relative;

      &:hover, &:focus {

        .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }

    }
  }

}
