@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xghgk1');
  src:  url('../fonts/icomoon.eot?xghgk1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xghgk1') format('truetype'),
    url('../fonts/icomoon.woff?xghgk1') format('woff'),
    url('../fonts/icomoon.svg?xghgk1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $zeus;
  font-family: $serif;
}

h1,
h4 {
  font-family: $sans;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: $sans;
}

b,
strong {
  font-weight: 700;
}

.clearfix {
  clear: both;
}
