.menu {
  margin: 0;
  padding: 0;

  &__item {
    @include margin(0, .5, 0, 0);

    list-style-type: none;
    display: inline;

    &--expanded {
      position: relative;

      &:hover,
      &:focus {

        .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
