@charset "UTF-8";
.bg {
  background-color: white; }

.black {
  background-color: #261D19; }

.off-black {
  background-color: #555; }

.gray {
  background-color: #eaeaea; }

.blue {
  background-color: #728EAD; }

.drenched-blue {
  background-color: #518cce; }

.light-blue {
  background-color: #b2c2d3; }

.green {
  background-color: #40C27A; }

.yellow {
  background-color: #F9B634; }

body {
  margin: 0;
  padding: 0; }
  body *, body *:before, body *:after {
    box-sizing: border-box; }

.wrapper {
  min-width: 320px; }

.field-collection-view {
  margin: 0; }

#skip-link {
  margin: 0;
  padding: 0; }
  #skip-link li {
    list-style-type: none; }

.site-header,
.site-main,
#footer,
#breadcrumb {
  max-width: 75em;
  margin: 0 auto; }

.site-header,
.site-main,
.breadcrumbs-wrapper,
#footer,
#breadcrumb {
  padding-left: 20px;
  padding-right: 20px; }

body.with-sticky-footer {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column; }

body.with-sticky-footer .wrapper--main {
  position: relative;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  overflow: hidden; }

::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

:-ms-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

:focus::-webkit-input-placeholder {
  opacity: .5; }

:focus::-moz-placeholder {
  opacity: .5; }

:focus:-ms-input-placeholder {
  opacity: .5; }

:focus::placeholder {
  opacity: .5; }

.vertical-tabs__panes {
  overflow: hidden; }

.compact-form-label {
  top: 9px;
  left: 17px;
  z-index: 1;
  font-size: 100%; }

body:not(.semantic-ui):not(.panels-ipe) form .form-submit {
  background: #eee;
  border: 1px solid #ccc;
  padding: 5px 10px 6px 10px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
  margin-top: 5px; }
  body:not(.semantic-ui):not(.panels-ipe) form .form-submit:hover, body:not(.semantic-ui):not(.panels-ipe) form .form-submit:focus {
    background: #666;
    color: white;
    border-color: #222; }

body:not(.semantic-ui):not(.panels-ipe) form .description {
  font-size: 80%;
  color: #261D19;
  font-style: italic;
  padding: 0 10px;
  margin: 10px 0;
  border-left: dotted 1px #aaa;
  max-width: 600px; }

body:not(.semantic-ui):not(.panels-ipe) #breadcrumbs .chevron:before {
  content: ">";
  padding: 0 8px;
  color: #261D19; }

.ui.form .form-item.labeled {
  padding-top: 1.2em;
  margin-bottom: 1em !important; }
  .ui.form .form-item.labeled:first-child {
    margin-top: -1.2em; }
  .ui.form .form-item.labeled label {
    position: absolute;
    top: 2.3em;
    padding: 0;
    transition: all .2s ease-in-out;
    cursor: text;
    color: #888; }
    .ui.form .form-item.labeled label.active {
      top: 2px;
      font-size: 85%;
      color: #728EAD; }
      .ui.form .form-item.labeled label.active.error {
        color: #FF6A40 !important; }
  .ui.form .form-item.labeled input {
    max-width: 30em;
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888;
    padding: .7em  0;
    margin-bottom: .3em;
    -webkit-text-fill-color: transparent; }
    .ui.form .form-item.labeled input:focus, .ui.form .form-item.labeled input.valued {
      background: transparent;
      -webkit-text-fill-color: #261D19; }
    .ui.form .form-item.labeled input.error {
      border-bottom-color: #FF6A40;
      -webkit-text-fill-color: #261D19 !important; }
  .ui.form .form-item.labeled .mt {
    width: 100%;
    position: relative;
    max-width: 30em; }
    .ui.form .form-item.labeled .mt:before, .ui.form .form-item.labeled .mt:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 5px;
      position: absolute;
      background: #728EAD;
      transition: 0.2s all ease-in-out; }
    .ui.form .form-item.labeled .mt.error:before, .ui.form .form-item.labeled .mt.error:after {
      background: #FF6A40; }
    .ui.form .form-item.labeled .mt:before {
      left: 50%; }
    .ui.form .form-item.labeled .mt:after {
      right: 50%; }
    .ui.form .form-item.labeled .mt.focus:before, .ui.form .form-item.labeled .mt.focus:after {
      width: 50%; }

.ui.form input.ui.button[type="submit"] {
  margin-top: 0.5em; }

label {
  color: #888;
  padding: 0 0 5px 0;
  display: block;
  font-size: 90%; }

.ui.dropdown {
  color: #555; }
  .ui.dropdown .text {
    font-size: 14px; }
  .ui.dropdown .default.text {
    color: #888; }

.ui.checkbox,
.ui.radio.checkbox {
  margin-right: 15px; }
  .ui.checkbox label,
  .ui.radio.checkbox label {
    padding-left: 1.5em;
    color: #555; }

figure {
  margin: 1em 0; }
  figure figcaption {
    padding: .5em 0;
    font-size: 90%;
    font-style: italic; }

body.semantic-ui:not(.panels-ipe) .ui {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body.semantic-ui:not(.panels-ipe) .ui .field > label {
    font-size: 100%; }
  body.semantic-ui:not(.panels-ipe) .ui.popup {
    padding: 10px; }

body.semantic-ui:not(.panels-ipe) .ui.link.menu .item:hover,
body.semantic-ui:not(.panels-ipe) .ui.menu .dropdown.item:hover,
body.semantic-ui:not(.panels-ipe) .ui.menu .link.item:hover,
body.semantic-ui:not(.panels-ipe) .ui.menu a.item:hover,
body.semantic-ui:not(.panels-ipe) .ui.link.menu .item:focus,
body.semantic-ui:not(.panels-ipe) .ui.menu .dropdown.item:focus,
body.semantic-ui:not(.panels-ipe) .ui.menu .link.item:focus,
body.semantic-ui:not(.panels-ipe) .ui.menu a.item:focus {
  color: #728EAD; }

body.semantic-ui:not(.panels-ipe) #content .ui.fluid.input > input {
  width: auto !important; }

.sidebar {
  font-size: 90%; }

body.semantic-ui:not(.panels-ipe) .ui.form,
body.semantic-ui:not(.panels-ipe) .ui.search-form {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 0; }
  body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions),
  body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) {
    border-radius: 0.285714rem;
    margin: .5em 0;
    display: inline-block;
    width: 100%; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions) .form-wrapper,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) .form-wrapper {
      padding: 10px 0; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions) legend,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) legend {
      margin: 5px 0 20px 0;
      float: left;
      clear: both; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions) .fieldset-description,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) .fieldset-description {
      clear: both; }
  body.semantic-ui:not(.panels-ipe) .ui.form input,
  body.semantic-ui:not(.panels-ipe) .ui.search-form input {
    font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body.semantic-ui:not(.panels-ipe) .ui.form .form-item,
  body.semantic-ui:not(.panels-ipe) .ui.form fieldset,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .form-item,
  body.semantic-ui:not(.panels-ipe) .ui.search-form fieldset {
    position: relative;
    margin: 5px 0;
    display: block;
    clear: both; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-item input, body.semantic-ui:not(.panels-ipe) .ui.form .form-item .form-select,
    body.semantic-ui:not(.panels-ipe) .ui.form fieldset input,
    body.semantic-ui:not(.panels-ipe) .ui.form fieldset .form-select,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-item input,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-item .form-select,
    body.semantic-ui:not(.panels-ipe) .ui.search-form fieldset input,
    body.semantic-ui:not(.panels-ipe) .ui.search-form fieldset .form-select {
      max-width: 30em; }
  body.semantic-ui:not(.panels-ipe) .ui.form legend,
  body.semantic-ui:not(.panels-ipe) .ui.search-form legend {
    margin-left: 0; }
  body.semantic-ui:not(.panels-ipe) .ui.form .description,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .description {
    font-size: 80%;
    color: #261D19;
    font-style: italic;
    padding: 0 10px;
    margin: 10px 0;
    border-left: dotted 1px #aaa;
    max-width: 38em; }
  body.semantic-ui:not(.panels-ipe) .ui.form details summary,
  body.semantic-ui:not(.panels-ipe) .ui.search-form details summary {
    cursor: pointer;
    font-size: 90%;
    color: #888;
    outline: 0; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary::-webkit-details-marker,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary::-webkit-details-marker {
      display: none; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="true"]:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="true"]:before {
      display: inline-block;
      opacity: 1;
      margin: 0em 0.25rem 0em 0em;
      width: 1.18em;
      height: 1em;
      font-family: 'Icons';
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      text-align: center;
      speak: none;
      font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      backface-visibility: hidden;
      font: Icons;
      color: #728EAD;
      content: "";
      transition: color .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="true"]:hover:before, body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="true"]:focus:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="true"]:hover:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="true"]:focus:before {
      color: #445b75; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="false"]:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="false"]:before {
      display: inline-block;
      opacity: 1;
      margin: 0em 0.25rem 0em 0em;
      width: 1.18em;
      height: 1em;
      font-family: 'Icons';
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      text-align: center;
      speak: none;
      font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      backface-visibility: hidden;
      font: Icons;
      color: #728EAD;
      content: "";
      transition: color .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="false"]:hover:before, body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="false"]:focus:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="false"]:hover:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="false"]:focus:before {
      color: #445b75; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary:hover, body.semantic-ui:not(.panels-ipe) .ui.form details summary:focus,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary:hover,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary:focus {
      color: #445b75; }
  body.semantic-ui:not(.panels-ipe) .ui.form details .form-item,
  body.semantic-ui:not(.panels-ipe) .ui.search-form details .form-item {
    padding: 0 1em;
    margin: 1em 0;
    border-left: 1px dotted #aaa; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.dropdown .menu > .item,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.dropdown .menu > .item {
    font-size: 14px;
    padding-left: 1.1em !important; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.dropdown > input.search,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.dropdown > input.search {
    z-index: 10; }
  body.semantic-ui:not(.panels-ipe) .ui.form.segment,
  body.semantic-ui:not(.panels-ipe) .ui.search-form.segment {
    border: 0;
    margin: 0;
    box-shadow: none; }
  body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form {
    position: relative; }
    body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form .views-exposed-widgets,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form .views-exposed-widgets {
      transition: opacity .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form.ajaxx .views-exposed-widgets,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form.ajaxx .views-exposed-widgets {
      opacity: .2; }
      body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form.ajaxx .views-exposed-widgets,
      body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form.ajaxx .views-exposed-widgets {
        opacity: 0; }
  body.semantic-ui:not(.panels-ipe) .ui.form .hidden-submit,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .hidden-submit {
    position: absolute;
    width: 100%;
    top: 0;
    float: none;
    margin: 0;
    display: block; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.loading,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.loading {
    top: -70px !important; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.button,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.button {
    font-weight: normal;
    text-shadow: 1px 1px 0 black, 1px 1px 0 rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    font-size: 15px;
    background: #728EAD;
    color: white;
    transition: background .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form .ui.button:hover, body.semantic-ui:not(.panels-ipe) .ui.form .ui.button:focus,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.button:hover,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.button:focus {
      background: #445b75; }

.ui.cards {
  margin: 0; }

.ui.cards > .card {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .ui.cards > .card:before, .ui.cards > .card:after {
    content: '';
    display: table; }
  .ui.cards > .card:after {
    clear: both; }
  .ui.cards > .card:last-child {
    margin-right: 0%; }
  .ui.cards > .card:first-child {
    margin-left: auto; }
  .ui.cards > .card:last-child {
    margin-right: auto; }

body:not(.semantic-ui) .wrapper .ui {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

.ui.button {
  font-weight: normal; }

i.icon, i.icons {
  font-size: 1.5em; }

.ui.popup {
  font-size: 90%;
  color: #555; }

.panel-pane {
  margin-bottom: 30px; }

.wrapper--footer {
  border: 0; }

.site-footer {
  background: #eaeaea; }

.site-footer .region-footer {
  padding: 30px 20px; }

#footer .block-menu {
  float: left;
  margin: 0 50px 0 0; }

#footer ul:not('.contextual-links') {
  margin: 0;
  padding: 0; }
  #footer ul:not('.contextual-links') li {
    list-style-type: none; }

.panel-display .left,
.panel-display .right {
  padding: 0; }

.site-sidebars {
  padding: 0; }

.wrapper--header {
  background-color: #eaeaea; }

.wrapper--breadcrumb {
  border-top: 1px solid #ddd; }

#main {
  padding-bottom: 30px; }

#main {
  padding-bottom: 30px; }

@media (min-width: 50em){
  .layout-sidebar-first main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%; }
  .layout-sidebar-first main:before, .layout-sidebar-first main:after{
    content: '';
    display: table; }
  .layout-sidebar-first main:after{
    clear: both; }
  .layout-sidebar-first main:last-child{
    margin-right: 0%; }
  .layout-sidebar-first .site-sidebars{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -77.25%; }
  .layout-sidebar-first .site-sidebars:before, .layout-sidebar-first .site-sidebars:after{
    content: '';
    display: table; }
  .layout-sidebar-first .site-sidebars:after{
    clear: both; }
  .layout-sidebar-first .site-sidebars:last-child{
    margin-right: 0%; }
  .layout-sidebar-second main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%; }
  .layout-sidebar-second main:before, .layout-sidebar-second main:after{
    content: '';
    display: table; }
  .layout-sidebar-second main:after{
    clear: both; }
  .layout-sidebar-second main:last-child{
    margin-right: 0%; }
  .layout-sidebar-second .site-sidebars{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
  .layout-sidebar-second .site-sidebars:before, .layout-sidebar-second .site-sidebars:after{
    content: '';
    display: table; }
  .layout-sidebar-second .site-sidebars:after{
    clear: both; }
  .layout-sidebar-second .site-sidebars:last-child{
    margin-right: 0%; }
  .layout-two-sidebars main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%; }
  .layout-two-sidebars main:before, .layout-two-sidebars main:after{
    content: '';
    display: table; }
  .layout-two-sidebars main:after{
    clear: both; }
  .layout-two-sidebars main:last-child{
    margin-right: 0%; }
  .layout-two-sidebars .sidebar-first{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -51.5%; }
  .layout-two-sidebars .sidebar-first:before, .layout-two-sidebars .sidebar-first:after{
    content: '';
    display: table; }
  .layout-two-sidebars .sidebar-first:after{
    clear: both; }
  .layout-two-sidebars .sidebar-first:last-child{
    margin-right: 0%; }
  .layout-two-sidebars .sidebar-second{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
  .layout-two-sidebars .sidebar-second:before, .layout-two-sidebars .sidebar-second:after{
    content: '';
    display: table; }
  .layout-two-sidebars .sidebar-second:after{
    clear: both; }
  .layout-two-sidebars .sidebar-second:last-child{
    margin-right: 0%; }
  .ui.cards > .card{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 32%;
    margin-left: 0%;
    margin-right: 2%; }
  .ui.cards > .card:before, .ui.cards > .card:after{
    content: '';
    display: table; }
  .ui.cards > .card:after{
    clear: both; }
  .ui.cards > .card:nth-child(3n){
    margin-right: 0%;
    float: right; }
  .ui.cards > .card:nth-child(3n + 1){
    clear: both; }
  .panel-display .column.right{
    padding: 0 0 20px 50px; }
  .panel-display .column.left{
    padding: 0 50px 20px 0; }
  .site-sidebars.sidebar-second{
    padding: 0 0 20px 50px; }
  .site-sidebars.sidebar-first{
    padding: 0 50px 20px 0; } }

@media (min-width: 75em){
  .site-footer .region-footer{
    padding-left: 0;
    padding-right: 0; } }
