$serif: 'Noto Serif';
$sans: 'Montserrat';

body {
  color: $zeus;
  font-family: $serif;
}

h1,
h4 {
  font-family: $sans;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: $sans;
}

b,
strong {
  font-weight: 700;
}

.clearfix {
  clear: both;
}
