@mixin ui-color($light, $normal, $dark, $gradient-top, $gradient-bottom, $hover-gradient-top, $hover-gradient-bottom) {

//******
// Atoms
//******

form {
  @include padding(1, 1);

  background: $ui-lightest-grey;
}

.form-item {
  @include margin-bottom(.5);
}

.button {
  @include font-size(.8);

  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  transition: background .2s ease-in-out;

  background: linear-gradient($gradient-top, $gradient-bottom);
  color: $white;
  padding: $ui-button-padding;
  border-radius: $ui-border-radius;
  font-family: $Montserrat;

  &:hover,
  &:focus,
  &:visited {
    background: linear-gradient($hover-gradient-top, $hover-gradient-bottom);
    text-decoration: none;
  }
}

.form-submit {
  @extend .button;
}

.form-text,
.form-email {
  @include padding(.2, .2);
  @include font-size(1);

  font-family: $Montserrat;

  width: 100%;
  max-width: 30em;
  border: 1px solid $ui-light-grey;
}

input[type="search"] {
  @extend .form-text;

  appearance: initial;
}

label {
  @include font-size(.9);

  display: block;
  font-family: $Montserrat;
}

.description {
  @include font-size(.7);

  font-family: $Montserrat;
  color: $ui-grey;
  font-weight: 400;
}


//**********
// Molecules
//**********

.breadcrumb {

  &__item {
    @include font-size(.8);

    font-family: $Montserrat;
    text-transform: uppercase;
    margin-right: 5px;
  }

  &__link {
    padding-right: 5px;

  }
}

//**********
// Organisms
//**********



}
