$ui-button-padding: .5rem 1rem;
$ui-border-radius: 5px;

$ui-black:                              hsla(0, 0%, 13%, 1);

// grey color scheme
$ui-lightest-grey:                      hsla(0, 0%, 96%, 1);
$ui-light-grey:                         hsla(0, 0%, 86%, 1);
$ui-grey:                               hsla(0, 0%, 50%, 1);
$ui-dark-grey:                          hsla(0, 0%, 13%, 1);

// blue color scheme
$ui-blue:                               hsla(209, 100%, 96%, 1);
$ui-light-blue:                         hsla(210, 48%, 55%, 1);
$ui-dark-blue:                          hsla(208, 100%, 26%, 1);
$ui-blue-button-gradient-top:           hsla(210, 46%, 48%, 1);
$ui-blue-button-gradient-bottom:        hsla(210, 53%, 38%, 1);
$ui-blue-button-hover-gradient-top:     hsla(210, 64%, 37%, 1);
$ui-blue-button-hover-gradient-bottom:  hsla(211, 59%, 29%, 1);

// green color scheme
$ui-light-green:                        hsla(175, 100%, 96%, 1);
$ui-green:                              hsla(175, 90%, 28%, 1);
$ui-dark-green:                         hsla(176, 100%, 19%, 1);
$ui-green-button-gradient-top:          hsla(176, 97%, 30%, 1);
$ui-green-button-gradient-bottom:       hsla(175, 86%, 27%, 1);
$ui-green-button-hover-gradient-top:    hsla(176, 98%, 22%, 1);
$ui-green-button-hover-gradient-bottom: hsla(175, 100%, 16%, 1);
