@mixin ui-color($light, $normal, $dark, $gradient-top, $gradient-bottom, $hover-gradient-top, $hover-gradient-bottom) {


//****************************
// Reusable typography classes
//****************************

.light {
  color: $light;

  &--bg {
    background-color: $light;
  }
}

.normal {
  color: $normal;

  &--bg {
    background-color: $normal;
  }
}

.dark {
  color: $dark;

  &--bg {
    background-color: $dark;
  }
}

.lightest-grey {
  color: $ui-lightest-grey;

  &--bg {
    background-color: $ui-lightest-grey;
  }
}

.light-grey {
  color: $ui-light-grey;

  &--bg {
    background-color: $ui-light-grey;
  }
}

.grey {
  color: $ui-grey;

  &--bg {
    background-color: $ui-grey;
  }
}

.serif {
  font-family: $serif;
}

.sans {
  font-family: $sans;
}

//******
// Atoms
//******




























//**********
// Molecules
//**********






















//pager


//comments




//**********
// Organisms
//**********











//******
// Pages
//******



} // closing the mixin
