.pager {

  ul {
    list-style: none;
  }

  li {
    @include font-size(1);
    display: inline-block;
  }

  .is-active {
    background: $grey;
    color: $dark-grey;
  }

  a {
    @include padding(0, .3);
    color: $dark-grey;
  }

  span {
    @include line-height(.5);
    background: $blue;
    color: $white;
    border: 1px solid $blue;
    border-radius: 50px;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
    &:after {
      font-size: 4px;
      vertical-align: middle;
    }
  }

  .pager__item--ellipsis:after {
    color: $dark-grey;
    content: '. . .';
  }

  .single-left-arrow:after {
    content: '\25C0';
  }

  .double-left-arrow:after {
    content: '\00ab';
  }

  .single-right-arrow:after {
    content: '\25b6';
  }

  .double-right-arrow:after {
    content: '\00bb';
  }

}
