.pager {

  &__items {
    @include padding(1, 0);
    
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }

  &__item {
    @include font-size(1);

    display: inline-block;

    &.is-active {
      background: $grey;
      color: $dark-grey;
    }

    &--ellipsis {
      @include padding(0, .2);

      &:after {
        color: $dark-grey;
        content: '. . .';
      }
    }

    &--first,
    &--previous {
      transform: rotate(180deg);

      i {
        top: 3px !important;
      }
    }
  }

  &__link {
    display: block;
    padding: 2px 8px;
    color: $dark-grey;
    position: relative;
  }

  i {
    font-size: 12px;
    text-align: center;
    background: $dark-grey;
    color: $white;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 6px;
    margin: 0;

    &:before {
      position: absolute;
      top: 4px;
      left: 3px;
      right: 0;
    }
  }

  .single-left-arrow {

    &:after {
      content: '\25C0';
    }
  }

  .double-left-arrow {

    &:after {
      content: '\00ab';
    }
  }

  .single-right-arrow {

    &:after {
      content: '\25b6';
    }
  }

  .double-right-arrow {

    &:after {
      content: '\00bb';
    }
  }
}
