//gray color scheme
$primary-lightest-gray: #F5F5F5;
$primary-light-gray: #DCDCDC;
$primary-gray: #808080;
$primary-dark-gray: #3F3F3F;

//green color scheme
$primary-yellow: #E6AB0F;
$primary-green: #078A80;
$primary-dark-green: #00635D;

//blue color scheme
$primary-light-blue: #EAF5FF;
$primary-blue: #548BC3;
$primary-dark-blue: #004987;
