@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700,900');

$Montserrat: 'Montserrat';
$Noto-serif: 'Noto Serif';

h1, h4 {
  font-family: $Montserrat;
  text-transform: uppercase;
}

h2, h3 {
  font-family: $Montserrat;
}

// This is a label
.label {
  @include font-size(.85);
  font-family: $Montserrat;
  text-transform: uppercase;
}

p {
  @include font-size(.85);
  font-family: $Noto-serif;
}