//
// COLORS
//
$zeus: #261d19;
$emperor: #555;
$gray: #888;
$gallery: #eaeaea;
$light-grey: #f5f5f5;
$blue: #728ead;
$dark-blue: darken($blue, 20%);
$light-blue: lighten($blue, 20%);
$red: #ff6a40;
$green: #40c27a;
$yellow: #f9b634;
$white: #fff;
$orange: #e09600;
$default-body: $zeus;
$link: $blue;
$link-hover: $dark-blue;

//
// LAYOUT
//
$site-min-width: 25em;
$site-max-width: 1200px / 16px * 1em;

//
// TYPOGRAPHY
//

// see ../vendor/gutenberg/_gutenberg-typography.scss

//
// LAYOUT
//

// Configure Gutenberg for specific layout options in sass/vendor/gutemberg/_gutenberg-config.scss

//
// BREAKPOINTS
//
$bp-540:    min-width 33.75em !default;
$bp-768:    min-width 48em !default;
$bp-768-wp: min-width 54.6em !default;
$bp-1024:   min-width 62em !default;
$bp-1200:   min-width 75em !default;
$bp-1500:   min-width 93.75em !default;
$bp-1800:   min-width 112.5em !default;
