//
// COLORS
//
$black:              hsla(0, 0%, 0%, 1);
$zeus:               hsla(18, 21%, 12%, 1);
$emperor:            hsla(0, 0%, 33%, 1);
$grey:               hsla(0, 0%, 53%, 1);
$gallery:            hsla(0, 0%, 92%, 1);
$wild-sand:          hsla(0, 0%, 96%, 1);
$white:              hsla(0, 100%, 100%, 1);
$bermuda-grey:       hsla(212, 26%, 56%, 1);
$dark-bermuda-grey:  darken($bermuda-grey, 20%);
$light-bermuda-grey: lighten($bermuda-grey, 20%);
$emerald:            hsla(147, 52%, 51%, 1);
$saffron:            hsla(40, 94%, 59%, 1);
$tangerine:          hsla(40, 100%, 44%, 1);
$outrageous-orange:  hsla(13, 100%, 63%, 1);
$persian-red:        hsla(0, 64%, 51%, 1);

$default-body: $zeus;
$link: $bermuda-grey;
$link-hover: $dark-bermuda-grey;

//
// LAYOUT
//
$site-min-width: 25em;
$site-max-width: 1200px / 16px * 1em;

//
// TYPOGRAPHY
//

// see ../vendor/gutenberg/_gutenberg-typography.scss

//
// LAYOUT
//

// Configure Gutenberg for specific layout options in sass/vendor/gutemberg/_gutenberg-config.scss

//
// BREAKPOINTS
//
$bp-540:    min-width 33.75em !default;
$bp-768:    min-width 48em !default;
$bp-768-wp: min-width 54.6em !default;
$bp-1024:   min-width 62em !default;
$bp-1200:   min-width 75em !default;
$bp-1500:   min-width 93.75em !default;
$bp-1800:   min-width 112.5em !default;
