body {
  margin: 0;
  padding: 0;
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.wrapper {
  min-width: 320px;
}

.field-collection-view {
  margin: 0;
}

#skip-link {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

//************************************
// Padding/Layout rules for main pages
//************************************

.site-header,
.site-main,
#footer,
#breadcrumb {
  max-width: $site-max-width;
  margin: 0 auto;
}

.site-header,
.site-main,
.breadcrumbs-wrapper,
#footer,
#breadcrumb {
  @include layout-padding;
}

//************************
// Sticky Footer (flexbox)
//************************

body.with-sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
body.with-sticky-footer .wrapper--main {
  position: relative;
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  overflow: hidden;
}

//*************
// Left Sidebar
//*************

.layout-sidebar-first {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
      @include shift(1/4);
    }
  }
  .site-sidebars {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-3/4);
    }
  }
}

//**************
// Right Sidebar
//**************

.layout-sidebar-second {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
    }
  }
  .site-sidebars {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}

//**************
// Two Sidebars
//**************

.layout-two-sidebars {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(2/4);
      @include shift(1/4);
    }
  }
  .sidebar-first {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-2/4);
    }
  }
  .sidebar-second {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}
