{% set atomicDoc = "https://docs.google.com/spreadsheets/d/1m7od7AMu3Q7Gogdec-N9NcHYqy2CUzFZNieKq938Qvg" %}

<p><a href="{{atomicDoc}}" target="_blank"> Atomic Design Plan </a></p>

<p><label>Document url:</label> {{atomicDoc}}</p>
