{% extends 'templates-base-layout' %}

{% block content %}

  {% block main_content %}
    <main class="main-content col-lg {{plClass}}">
      {{ content.main }}
    </main>
  {% endblock %}

{% endblock %}
