table {
  @include margin(1, 0);

  width: 100%;
  border: 1px solid $ui-light-grey;

  .form-item {
    margin: 0;
  }

  thead {
    background: $ui-lightest-grey;
  }

  tbody {

    tr {
      border-bottom: 1px solid $ui-light-grey;

      &:last-child {
        border: 0;
      }
    }
  }

  td,
  th {
    @include padding(.3, .5);

    text-align: left;
  }

  ul {
    padding-left: 15px;
  }

  .form-item {

    label {
      display: block;
    }
  }

  .checkbox-wrapper {
    display: block;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 0;
    background: transparent;

    .form-checkbox {
      display: block;
    }

    .icon-check {
      display: none;
    }
  }
}
