@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("//fonts.googleapis.com/css?family=Noto+Serif:400,700");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block;
}

* {
  box-sizing: border-box;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr {
  letter-spacing: 0.1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 70%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

html {
  font-size: 100%;
  font-size: 18px;
  font-family: "Georgia", serif;
  color: "Georgia", serif;
  font-weight: 400;
}

* {
  line-height: 1.61111;
}

p {
  margin-bottom: 1.61111rem;
  font-size: 1.1rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.61111;
  margin-top: 1.61111rem;
  margin-bottom: 1.61111rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.61111;
  margin-top: 2.01389rem;
  margin-bottom: 0.80556rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.61111;
  margin-top: 1.61111rem;
  margin-bottom: 0.80556rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.61111;
  margin-top: 1.61111rem;
  margin-bottom: 0.80556rem;
}

h5 {
  font-size: 0.815rem;
  line-height: 1.61111;
  margin-top: 2.01389rem;
  margin-bottom: 0.80556rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.61111;
  margin-top: 2.01389rem;
  margin-bottom: 0.80556rem;
}

h1 + h2 {
  margin-top: 1.61111rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.80556rem;
}

h5 + h6 {
  margin-top: -0.80556rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia", serif;
  font-weight: normal;
}

h1.grid-title,
h2.grid-title,
h3.grid-title,
h4.grid-title {
  margin: 0;
}

h5, h6 {
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

a {
  color: #728EAD;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}

a:hover {
  color: #445b75;
}

a:visited {
  color: #728EAD;
}

a:active {
  color: #445b75;
}

figure {
  margin: 0;
}

figcaption {
  line-height: 1.61111;
  color: #261D19;
  margin-bottom: 0;
  text-align: center;
}

blockquote {
  margin: 1.61111rem 0;
  font-weight: 500;
}

cite {
  font-style: normal;
}

figure blockquote {
  padding: 1.61111rem 0;
}

figure blockquote p {
  font-size: 1.6875rem;
  line-height: 2.41667;
}

ul li,
ol li {
  margin-bottom: 0;
}

hr {
  margin-top: 3.22222rem;
  margin-bottom: 3.22222rem;
  border: 0;
  color: #261D19;
  display: block;
  height: 29px;
  height: 1.61111rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 29px;
  background-size: 100% 1.61111rem;
  background-image: -webkit-linear-gradient(top, transparent 1px, transparent 12.5px, #261D19 12.5px, #261D19 16.5px, transparent 16.5px, transparent 29px);
  background-image: linear-gradient(to bottom, transparent 1px, transparent 12.5px, #261D19 12.5px, #261D19 16.5px, transparent 16.5px, transparent 29px);
  width: 100px;
}

small {
  line-height: 0.80556;
}

code {
  padding: 1.61111rem;
}

@font-face {
  font-family: 'bearskin';
  src: url("../fonts/bearskin/bearskin.eot?5063hx");
  src: url("../fonts/bearskin/bearskin.eot?5063hx#iefix") format("embedded-opentype"), url("../fonts/bearskin/bearskin.ttf?5063hx") format("truetype"), url("../fonts/bearskin/bearskin.woff?5063hx") format("woff"), url("../fonts/bearskin/bearskin.svg?5063hx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bearskin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn_previous:before {
  content: "\e902";
}

.icon-btn_next:before {
  content: "\e903";
}

.icon-checkmark:before {
  content: "\e900";
}

.icon-btn_toggle:before {
  content: "\e901";
}

.icon-arrow_up:before {
  content: "\e906";
}

.icon-bg_bear_tracks:before {
  content: "\e907";
}

.icon-arrow_right:before {
  content: "\e908";
}

.icon-arrow_left:before {
  content: "\e909";
}

.icon-arrow_down:before {
  content: "\e90a";
}

body {
  font-family: "Noto Serif";
  color: #261D19;
}

h1, h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

h2, h3 {
  font-family: "Montserrat";
}

@font-face {
  font-family: "bearskinui";
  src: url("../fonts/bearskinui.eot");
  src: url("../fonts/bearskinui.eot?#iefix") format("eot"), url("../fonts/bearskinui.woff2") format("woff2"), url("../fonts/bearskinui.woff") format("woff"), url("../fonts/bearskinui.ttf") format("truetype"), url("../fonts/bearskinui.svg#bearskinui") format("svg");
}

.icon:before {
  font-family: "bearskinui";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-add:before {
  content: "\E001";
}

.icon-arrow_down:before {
  content: "\E002";
}

.icon-arrow_left:before {
  content: "\E003";
}

.icon-arrow_right:before {
  content: "\E004";
}

.icon-arrow_up:before {
  content: "\E005";
}

.icon-bg_bear_tracks:before {
  content: "\E006";
}

.icon-bin:before {
  content: "\E007";
}

.icon-book:before {
  content: "\E008";
}

.icon-btn_next:before {
  content: "\E009";
}

.icon-btn_previous:before {
  content: "\E00A";
}

.icon-btn_toggle:before {
  content: "\E00B";
}

.icon-calculate:before {
  content: "\E00C";
}

.icon-camera:before {
  content: "\E00D";
}

.icon-cards:before {
  content: "\E00E";
}

.icon-checkmark:before {
  content: "\E00F";
}

.icon-clock:before {
  content: "\E010";
}

.icon-clock2:before {
  content: "\E011";
}

.icon-cloud:before {
  content: "\E012";
}

.icon-download:before {
  content: "\E013";
}

.icon-edit:before {
  content: "\E014";
}

.icon-envelope:before {
  content: "\E015";
}

.icon-file:before {
  content: "\E016";
}

.icon-files:before {
  content: "\E017";
}

.icon-flag:before {
  content: "\E018";
}

.icon-folder:before {
  content: "\E019";
}

.icon-globe:before {
  content: "\E01A";
}

.icon-inbox:before {
  content: "\E01B";
}

.icon-info:before {
  content: "\E01C";
}

.icon-refresh:before {
  content: "\E01D";
}

.icon-remove:before {
  content: "\E01E";
}

.icon-revert:before {
  content: "\E01F";
}

.icon-search:before {
  content: "\E020";
}

.icon-send:before {
  content: "\E021";
}

.icon-star:before {
  content: "\E022";
}

.icon-stopwatch:before {
  content: "\E023";
}

.icon-time:before {
  content: "\E024";
}

.icon-trash:before {
  content: "\E025";
}

.icon-upload:before {
  content: "\E026";
}

.icon-user:before {
  content: "\E027";
}

.icon-view:before {
  content: "\E028";
}

.ui--grey form {
  padding: 1.61111rem 1.61111rem;
  background: #F5F5F5;
}

.ui--grey .form-item {
  margin-bottom: 0.80556rem;
}

.ui--grey .button, .ui--grey .form-submit {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(false, false);
  background: linear-gradient(false, false);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
}

.ui--grey .button:hover, .ui--grey .form-submit:hover, .ui--grey .button:focus, .ui--grey .form-submit:focus, .ui--grey .button:visited, .ui--grey .form-submit:visited {
  background: -webkit-linear-gradient(false, false);
  background: linear-gradient(false, false);
  text-decoration: none;
}

.ui--grey .form-text, .ui--grey input[type="search"],
.ui--grey .form-email {
  padding: 0.32222rem 0.32222rem;
  font-size: 1rem;
  font-family: "Montserrat";
  width: 100%;
  max-width: 30em;
  border: 1px solid #DCDCDC;
}

.ui--grey input[type="search"] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.ui--grey label {
  font-size: 0.9rem;
  display: block;
  font-family: "Montserrat";
}

.ui--grey .description {
  font-size: 0.7rem;
  color: #808080;
}

.ui--grey .breadcrumb__item {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 5px;
}

.ui--grey .breadcrumb__link {
  padding-right: 5px;
}

.ui--grey .tabs__tab-link {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  border-radius: 5px;
  color: #808080;
}

.ui--grey .tabs__tab-link:hover, .ui--grey .tabs__tab-link:focus, .ui--grey .tabs__tab-link.is-active {
  color: #222;
}

.ui--grey .messages {
  font-size: 0.7rem;
  font-family: "Montserrat";
}

.ui--blue form {
  padding: 1.61111rem 1.61111rem;
  background: #F5F5F5;
}

.ui--blue .form-item {
  margin-bottom: 0.80556rem;
}

.ui--blue .button, .ui--blue .form-submit {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(#427AB3, #2E6296);
  background: linear-gradient(#427AB3, #2E6296);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
}

.ui--blue .button:hover, .ui--blue .form-submit:hover, .ui--blue .button:focus, .ui--blue .form-submit:focus, .ui--blue .button:visited, .ui--blue .form-submit:visited {
  background: -webkit-linear-gradient(#225E9A, #1E4976);
  background: linear-gradient(#225E9A, #1E4976);
  text-decoration: none;
}

.ui--blue .form-text, .ui--blue input[type="search"],
.ui--blue .form-email {
  padding: 0.32222rem 0.32222rem;
  font-size: 1rem;
  font-family: "Montserrat";
  width: 100%;
  max-width: 30em;
  border: 1px solid #DCDCDC;
}

.ui--blue input[type="search"] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.ui--blue label {
  font-size: 0.9rem;
  display: block;
  font-family: "Montserrat";
}

.ui--blue .description {
  font-size: 0.7rem;
  color: #808080;
}

.ui--blue .breadcrumb__item {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 5px;
}

.ui--blue .breadcrumb__link {
  padding-right: 5px;
}

.ui--blue .tabs__tab-link {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  border-radius: 5px;
  color: #808080;
}

.ui--blue .tabs__tab-link:hover, .ui--blue .tabs__tab-link:focus, .ui--blue .tabs__tab-link.is-active {
  color: #222;
}

.ui--blue .messages {
  font-size: 0.7rem;
  font-family: "Montserrat";
}

.ui--green form {
  padding: 1.61111rem 1.61111rem;
  background: #F5F5F5;
}

.ui--green .form-item {
  margin-bottom: 0.80556rem;
}

.ui--green .button, .ui--green .form-submit {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(#02978E, #0A8277);
  background: linear-gradient(#02978E, #0A8277);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
}

.ui--green .button:hover, .ui--green .form-submit:hover, .ui--green .button:focus, .ui--green .form-submit:focus, .ui--green .button:visited, .ui--green .form-submit:visited {
  background: -webkit-linear-gradient(#016F68, #00534C);
  background: linear-gradient(#016F68, #00534C);
  text-decoration: none;
}

.ui--green .form-text, .ui--green input[type="search"],
.ui--green .form-email {
  padding: 0.32222rem 0.32222rem;
  font-size: 1rem;
  font-family: "Montserrat";
  width: 100%;
  max-width: 30em;
  border: 1px solid #DCDCDC;
}

.ui--green input[type="search"] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.ui--green label {
  font-size: 0.9rem;
  display: block;
  font-family: "Montserrat";
}

.ui--green .description {
  font-size: 0.7rem;
  color: #808080;
}

.ui--green .breadcrumb__item {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 5px;
}

.ui--green .breadcrumb__link {
  padding-right: 5px;
}

.ui--green .tabs__tab-link {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  border-radius: 5px;
  color: #808080;
}

.ui--green .tabs__tab-link:hover, .ui--green .tabs__tab-link:focus, .ui--green .tabs__tab-link.is-active {
  color: #222;
}

.ui--green .messages {
  font-size: 0.7rem;
  font-family: "Montserrat";
}

@media (min-width: 48em){
  *{
    line-height: 1.61111;
  }
}

@media (min-width: 75em){
  blockquote{
    margin: 1.61111rem -3.22222rem;
  }
}

@media screen and (min-width: 85em){
  body,
  html{
    margin: 0;
    width: 100%;
    max-width: none;
  }
  html{
    font-size: 18px;
    font-size: 1rem;
  }
  h1{
    font-size: 3rem;
    line-height: 1.72222;
    margin-top: 1.72222rem;
    margin-bottom: 1.72222rem;
  }
  h2{
    font-size: 2rem;
    line-height: 1.72222;
    margin-top: 2.15278rem;
    margin-bottom: 0.86111rem;
  }
  h3{
    font-size: 1.25rem;
    line-height: 1.72222;
    margin-top: 1.72222rem;
    margin-bottom: 0.86111rem;
  }
  h4{
    font-size: 1.1rem;
    line-height: 1.72222;
    margin-top: 1.72222rem;
    margin-bottom: 0.86111rem;
  }
  h5{
    font-size: 0.815rem;
    line-height: 1.72222;
    margin-top: 2.15278rem;
    margin-bottom: 0.86111rem;
  }
  h6{
    font-size: 0.75rem;
    line-height: 1.72222;
    margin-top: 2.15278rem;
    margin-bottom: 0.86111rem;
  }
  h1 + h2{
    margin-top: 1.72222rem;
  }
  h2 + h3,
  h3 + h4,
  h4 + h5{
    margin-top: 0.86111rem;
  }
  h5 + h6{
    margin-top: -0.86111rem;
  }
  figure.floatLeft,
  figure.floatRight{
    max-width: 720px;
    max-width: 40rem;
    padding: 0 1.72222rem;
  }
  figure.floatLeft blockquote,
  figure.floatRight blockquote{
    padding: 0;
    text-align: left;
  }
  figure.floatLeft blockquote p,
  figure.floatRight blockquote p{
    font-size: 1.2rem;
    line-height: 1.72222;
  }
  figcaption{
    line-height: 1.72222;
    margin-bottom: 0;
  }
  figure blockquote{
    padding: 3.44444rem 0 1.72222rem;
    text-align: center;
  }
  figure blockquote p{
    font-size: 1.6875rem;
    line-height: 2.58333;
  }
  hr{
    margin-top: 3.44444rem;
    margin-bottom: 3.44444rem;
    height: 31px;
    height: 1.72222rem;
  }
  hr{
    background-size: 100% 31px;
    background-size: 100% 1.72222rem;
    background-image: -webkit-linear-gradient(top, transparent 1px, transparent 13.5px, #261D19 13.5px, #261D19 17.5px, transparent 17.5px, transparent 31px);
    background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #261D19 13.5px, #261D19 17.5px, transparent 17.5px, transparent 31px);
  }
  small{
    line-height: 0.86111;
  }
  code{
    padding: 1.72222rem;
  }
}
