@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("//fonts.googleapis.com/css?family=Noto+Serif:400,700");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
.ui--grey .accordion,
.ui--blue .accordion,
.ui--green .accordion,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block;
}

* {
  box-sizing: border-box;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr {
  letter-spacing: 0.1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 70%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

html {
  font-size: 100%;
  font-size: 16px;
  font-family: "Georgia", serif;
  color: "Georgia", serif;
  font-weight: 400;
}

* {
  line-height: 1.625;
}

p {
  margin-bottom: 1.625rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem;
}

h5 {
  font-size: 0.815rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem;
}

h1 + h2 {
  margin-top: 1.625rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.8125rem;
}

h5 + h6 {
  margin-top: -0.8125rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia", serif;
  font-weight: normal;
}

h1.grid-title,
h2.grid-title,
h3.grid-title,
h4.grid-title {
  margin: 0;
}

h5, h6 {
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

a {
  color: #728EAD;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}

a:visited {
  color: #728EAD;
}

a:active {
  color: #445b75;
}

a:hover {
  color: #445b75;
}

a:hover:visited {
  color: #445b75;
}

figure {
  margin: 0;
}

figcaption {
  line-height: 1.625;
  color: #261D19;
  margin-bottom: 0;
  text-align: center;
}

blockquote {
  margin: 1.625rem 0;
  font-weight: 500;
}

cite {
  font-style: normal;
}

figure blockquote {
  padding: 1.625rem 0;
}

figure blockquote p {
  font-size: 1.6875rem;
  line-height: 2.4375;
}

ul li,
ol li {
  margin-bottom: 0;
}

hr {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
  border: 0;
  color: #261D19;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: -webkit-linear-gradient(top, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  width: 100px;
}

small {
  line-height: 0.8125;
}

code {
  padding: 1.625rem;
}

body {
  font-family: "Noto Serif";
  color: #261D19;
}

h1, h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

h2, h3 {
  font-family: "Montserrat";
}

@font-face {
  font-family: "bearskinui";
  src: url("../fonts/bearskinui.eot");
  src: url("../fonts/bearskinui.eot?#iefix") format("eot"), url("../fonts/bearskinui.woff2") format("woff2"), url("../fonts/bearskinui.woff") format("woff"), url("../fonts/bearskinui.ttf") format("truetype"), url("../fonts/bearskinui.svg#bearskinui") format("svg");
}

.icon:before {
  font-family: "bearskinui";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-add:before {
  content: "\E001";
}

.icon-arrow_down:before {
  content: "\E002";
}

.icon-arrow_left:before {
  content: "\E003";
}

.icon-arrow_right:before {
  content: "\E004";
}

.icon-arrow_up:before {
  content: "\E005";
}

.icon-bg_bear_tracks:before {
  content: "\E006";
}

.icon-bin:before {
  content: "\E007";
}

.icon-book:before {
  content: "\E008";
}

.icon-btn_next:before {
  content: "\E009";
}

.icon-btn_previous:before {
  content: "\E00A";
}

.icon-btn_toggle:before {
  content: "\E00B";
}

.icon-calculate:before {
  content: "\E00C";
}

.icon-camera:before {
  content: "\E00D";
}

.icon-cards:before {
  content: "\E00E";
}

.icon-checkmark:before {
  content: "\E00F";
}

.icon-clock:before {
  content: "\E010";
}

.icon-clock2:before {
  content: "\E011";
}

.icon-cloud:before {
  content: "\E012";
}

.icon-download:before {
  content: "\E013";
}

.icon-edit:before {
  content: "\E014";
}

.icon-envelope:before {
  content: "\E015";
}

.icon-file:before {
  content: "\E016";
}

.icon-files:before {
  content: "\E017";
}

.icon-flag:before {
  content: "\E018";
}

.icon-folder:before {
  content: "\E019";
}

.icon-globe:before {
  content: "\E01A";
}

.icon-inbox:before {
  content: "\E01B";
}

.icon-info:before {
  content: "\E01C";
}

.icon-refresh:before {
  content: "\E01D";
}

.icon-remove:before {
  content: "\E01E";
}

.icon-revert:before {
  content: "\E01F";
}

.icon-search:before {
  content: "\E020";
}

.icon-send:before {
  content: "\E021";
}

.icon-star:before {
  content: "\E022";
}

.icon-stopwatch:before {
  content: "\E023";
}

.icon-time:before {
  content: "\E024";
}

.icon-trash:before {
  content: "\E025";
}

.icon-upload:before {
  content: "\E026";
}

.icon-user:before {
  content: "\E027";
}

.icon-view:before {
  content: "\E028";
}

.ui--grey form {
  padding: 1.625rem 1.625rem;
  background: #F5F5F5;
}

.ui--grey .form-item {
  margin-bottom: 0.8125rem;
}

.ui--grey .button, .ui--grey .form-submit {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(false, false);
  background: linear-gradient(false, false);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
}

.ui--grey .button:hover, .ui--grey .form-submit:hover, .ui--grey .button:focus, .ui--grey .form-submit:focus, .ui--grey .button:visited, .ui--grey .form-submit:visited {
  background: -webkit-linear-gradient(false, false);
  background: linear-gradient(false, false);
  text-decoration: none;
}

.ui--grey .form-text, .ui--grey input[type="search"],
.ui--grey .form-email {
  padding: 0.325rem 0.325rem;
  font-size: 1rem;
  font-family: "Montserrat";
  width: 100%;
  max-width: 30em;
  border: 1px solid #DCDCDC;
}

.ui--grey input[type="search"] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.ui--grey label {
  font-size: 0.9rem;
  display: block;
  font-family: "Montserrat";
}

.ui--grey .description {
  font-size: 0.7rem;
  color: #808080;
}

.ui--grey .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui--grey .branding__site-logo-image {
  max-width: 100px;
}

.ui--grey .branding__site-name {
  font-size: 1.2rem;
  margin: 0rem 0rem 0rem 1.625rem;
  text-transform: uppercase;
}

.ui--grey .breadcrumb__item {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 5px;
}

.ui--grey .breadcrumb__link {
  padding-right: 5px;
}

.ui--grey .tabs__tab-link {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  border-radius: 5px;
  color: #808080;
}

.ui--grey .tabs__tab-link:hover, .ui--grey .tabs__tab-link:focus, .ui--grey .tabs__tab-link.is-active {
  color: #222;
}

.ui--grey .messages {
  font-size: 0.9rem;
  padding: 1.625rem 1.625rem;
  font-family: "Montserrat";
}

.ui--grey details, .ui--grey .accordion {
  clear: both;
}

.ui--grey details[open] .summary, .ui--grey [open].accordion .summary {
  border-bottom: 0;
  margin-bottom: 0;
}

.ui--grey details[open] .summary__icon, .ui--grey [open].accordion .summary__icon {
  float: right;
}

.ui--grey details[open] .summary i, .ui--grey [open].accordion .summary i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ui--grey details[open] .details-wrapper, .ui--grey [open].accordion .details-wrapper {
  border: 1px solid #DCDCDC;
  border-top: 0;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.ui--grey .summary {
  margin-bottom: 1.625rem;
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  display: block;
  float: left;
  width: 100%;
  outline: 0;
  position: relative;
  z-index: 2;
}

.ui--grey .summary::-webkit-details-marker {
  display: none;
}

.ui--grey .summary__icon {
  float: right;
  text-indent: -9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui--grey .summary i {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

.ui--grey .summary__title {
  float: left;
}

.ui--grey .details-wrapper {
  padding: 0.8125rem 0.8125rem;
  position: relative;
  z-index: 1;
  border: 0;
}

.ui--grey .menu--main a {
  color: #222;
  text-decoration: none;
}

.ui--grey .menu--main a:hover, .ui--grey .menu--main a:focus {
  color: #222;
  text-decoration: underline;
}

.ui--grey .menu--main a.is-active {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(false, false);
  background: linear-gradient(false, false);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 1rem;
  color: white;
  font-family: "Noto Serif";
}

.ui--grey .menu--main a.is-active:hover, .ui--grey .menu--main a.is-active:focus, .ui--grey .menu--main a.is-active:visited {
  background: -webkit-linear-gradient(false, false);
  background: linear-gradient(false, false);
  text-decoration: none;
}

.ui--grey .wrapper-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui--grey .wrapper-breadcrumb {
  border-top: 1px solid #F5F5F5;
}

.ui--grey .wrapper-footer {
  background: #F5F5F5;
}

.ui--grey .wrapper-footer__inner {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

.ui--blue form {
  padding: 1.625rem 1.625rem;
  background: #F5F5F5;
}

.ui--blue .form-item {
  margin-bottom: 0.8125rem;
}

.ui--blue .button, .ui--blue .form-submit {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(#427AB3, #2E6296);
  background: linear-gradient(#427AB3, #2E6296);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
}

.ui--blue .button:hover, .ui--blue .form-submit:hover, .ui--blue .button:focus, .ui--blue .form-submit:focus, .ui--blue .button:visited, .ui--blue .form-submit:visited {
  background: -webkit-linear-gradient(#225E9A, #1E4976);
  background: linear-gradient(#225E9A, #1E4976);
  text-decoration: none;
}

.ui--blue .form-text, .ui--blue input[type="search"],
.ui--blue .form-email {
  padding: 0.325rem 0.325rem;
  font-size: 1rem;
  font-family: "Montserrat";
  width: 100%;
  max-width: 30em;
  border: 1px solid #DCDCDC;
}

.ui--blue input[type="search"] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.ui--blue label {
  font-size: 0.9rem;
  display: block;
  font-family: "Montserrat";
}

.ui--blue .description {
  font-size: 0.7rem;
  color: #808080;
}

.ui--blue .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui--blue .branding__site-logo-image {
  max-width: 100px;
}

.ui--blue .branding__site-name {
  font-size: 1.2rem;
  margin: 0rem 0rem 0rem 1.625rem;
  text-transform: uppercase;
}

.ui--blue .breadcrumb__item {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 5px;
}

.ui--blue .breadcrumb__link {
  padding-right: 5px;
}

.ui--blue .tabs__tab-link {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  border-radius: 5px;
  color: #808080;
}

.ui--blue .tabs__tab-link:hover, .ui--blue .tabs__tab-link:focus, .ui--blue .tabs__tab-link.is-active {
  color: #222;
}

.ui--blue .messages {
  font-size: 0.9rem;
  padding: 1.625rem 1.625rem;
  font-family: "Montserrat";
}

.ui--blue details, .ui--blue .accordion {
  clear: both;
}

.ui--blue details[open] .summary, .ui--blue [open].accordion .summary {
  border-bottom: 0;
  margin-bottom: 0;
}

.ui--blue details[open] .summary__icon, .ui--blue [open].accordion .summary__icon {
  float: right;
}

.ui--blue details[open] .summary i, .ui--blue [open].accordion .summary i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ui--blue details[open] .details-wrapper, .ui--blue [open].accordion .details-wrapper {
  border: 1px solid #DCDCDC;
  border-top: 0;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.ui--blue .summary {
  margin-bottom: 1.625rem;
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  display: block;
  float: left;
  width: 100%;
  outline: 0;
  position: relative;
  z-index: 2;
}

.ui--blue .summary::-webkit-details-marker {
  display: none;
}

.ui--blue .summary__icon {
  float: right;
  text-indent: -9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui--blue .summary i {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

.ui--blue .summary__title {
  float: left;
}

.ui--blue .details-wrapper {
  padding: 0.8125rem 0.8125rem;
  position: relative;
  z-index: 1;
  border: 0;
}

.ui--blue .menu--main a {
  color: #222;
  text-decoration: none;
}

.ui--blue .menu--main a:hover, .ui--blue .menu--main a:focus {
  color: #222;
  text-decoration: underline;
}

.ui--blue .menu--main a.is-active {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(#427AB3, #2E6296);
  background: linear-gradient(#427AB3, #2E6296);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 1rem;
  color: white;
  font-family: "Noto Serif";
}

.ui--blue .menu--main a.is-active:hover, .ui--blue .menu--main a.is-active:focus, .ui--blue .menu--main a.is-active:visited {
  background: -webkit-linear-gradient(#225E9A, #1E4976);
  background: linear-gradient(#225E9A, #1E4976);
  text-decoration: none;
}

.ui--blue .wrapper-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui--blue .wrapper-breadcrumb {
  border-top: 1px solid #F5F5F5;
}

.ui--blue .wrapper-footer {
  background: #F5F5F5;
}

.ui--blue .wrapper-footer__inner {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

.ui--green form {
  padding: 1.625rem 1.625rem;
  background: #F5F5F5;
}

.ui--green .form-item {
  margin-bottom: 0.8125rem;
}

.ui--green .button, .ui--green .form-submit {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(#02978E, #0A8277);
  background: linear-gradient(#02978E, #0A8277);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
}

.ui--green .button:hover, .ui--green .form-submit:hover, .ui--green .button:focus, .ui--green .form-submit:focus, .ui--green .button:visited, .ui--green .form-submit:visited {
  background: -webkit-linear-gradient(#016F68, #00534C);
  background: linear-gradient(#016F68, #00534C);
  text-decoration: none;
}

.ui--green .form-text, .ui--green input[type="search"],
.ui--green .form-email {
  padding: 0.325rem 0.325rem;
  font-size: 1rem;
  font-family: "Montserrat";
  width: 100%;
  max-width: 30em;
  border: 1px solid #DCDCDC;
}

.ui--green input[type="search"] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.ui--green label {
  font-size: 0.9rem;
  display: block;
  font-family: "Montserrat";
}

.ui--green .description {
  font-size: 0.7rem;
  color: #808080;
}

.ui--green .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui--green .branding__site-logo-image {
  max-width: 100px;
}

.ui--green .branding__site-name {
  font-size: 1.2rem;
  margin: 0rem 0rem 0rem 1.625rem;
  text-transform: uppercase;
}

.ui--green .breadcrumb__item {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 5px;
}

.ui--green .breadcrumb__link {
  padding-right: 5px;
}

.ui--green .tabs__tab-link {
  font-size: 0.8rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  border-radius: 5px;
  color: #808080;
}

.ui--green .tabs__tab-link:hover, .ui--green .tabs__tab-link:focus, .ui--green .tabs__tab-link.is-active {
  color: #222;
}

.ui--green .messages {
  font-size: 0.9rem;
  padding: 1.625rem 1.625rem;
  font-family: "Montserrat";
}

.ui--green details, .ui--green .accordion {
  clear: both;
}

.ui--green details[open] .summary, .ui--green [open].accordion .summary {
  border-bottom: 0;
  margin-bottom: 0;
}

.ui--green details[open] .summary__icon, .ui--green [open].accordion .summary__icon {
  float: right;
}

.ui--green details[open] .summary i, .ui--green [open].accordion .summary i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ui--green details[open] .details-wrapper, .ui--green [open].accordion .details-wrapper {
  border: 1px solid #DCDCDC;
  border-top: 0;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.ui--green .summary {
  margin-bottom: 1.625rem;
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  display: block;
  float: left;
  width: 100%;
  outline: 0;
  position: relative;
  z-index: 2;
}

.ui--green .summary::-webkit-details-marker {
  display: none;
}

.ui--green .summary__icon {
  float: right;
  text-indent: -9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui--green .summary i {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

.ui--green .summary__title {
  float: left;
}

.ui--green .details-wrapper {
  padding: 0.8125rem 0.8125rem;
  position: relative;
  z-index: 1;
  border: 0;
}

.ui--green .menu--main a {
  color: #222;
  text-decoration: none;
}

.ui--green .menu--main a:hover, .ui--green .menu--main a:focus {
  color: #222;
  text-decoration: underline;
}

.ui--green .menu--main a.is-active {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background: -webkit-linear-gradient(#02978E, #0A8277);
  background: linear-gradient(#02978E, #0A8277);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 1rem;
  color: white;
  font-family: "Noto Serif";
}

.ui--green .menu--main a.is-active:hover, .ui--green .menu--main a.is-active:focus, .ui--green .menu--main a.is-active:visited {
  background: -webkit-linear-gradient(#016F68, #00534C);
  background: linear-gradient(#016F68, #00534C);
  text-decoration: none;
}

.ui--green .wrapper-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui--green .wrapper-breadcrumb {
  border-top: 1px solid #F5F5F5;
}

.ui--green .wrapper-footer {
  background: #F5F5F5;
}

.ui--green .wrapper-footer__inner {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

@media (min-width: 48em){
  *{
    line-height: 1.625;
  }
}

@media (min-width: 75em){
  blockquote{
    margin: 1.625rem -3.25rem;
  }
}

@media screen and (min-width: 85em){
  body,
  html{
    margin: 0;
    width: 100%;
    max-width: none;
  }
  html{
    font-size: 16px;
    font-size: 1rem;
  }
  h1{
    font-size: 3rem;
    line-height: 1.6875;
    margin-top: 1.6875rem;
    margin-bottom: 1.6875rem;
  }
  h2{
    font-size: 2rem;
    line-height: 1.6875;
    margin-top: 2.10938rem;
    margin-bottom: 0.84375rem;
  }
  h3{
    font-size: 1.25rem;
    line-height: 1.6875;
    margin-top: 1.6875rem;
    margin-bottom: 0.84375rem;
  }
  h4{
    font-size: 1.1rem;
    line-height: 1.6875;
    margin-top: 1.6875rem;
    margin-bottom: 0.84375rem;
  }
  h5{
    font-size: 0.815rem;
    line-height: 1.6875;
    margin-top: 2.10938rem;
    margin-bottom: 0.84375rem;
  }
  h6{
    font-size: 0.75rem;
    line-height: 1.6875;
    margin-top: 2.10938rem;
    margin-bottom: 0.84375rem;
  }
  h1 + h2{
    margin-top: 1.6875rem;
  }
  h2 + h3,
  h3 + h4,
  h4 + h5{
    margin-top: 0.84375rem;
  }
  h5 + h6{
    margin-top: -0.84375rem;
  }
  figure.floatLeft,
  figure.floatRight{
    max-width: 640px;
    max-width: 40rem;
    padding: 0 1.6875rem;
  }
  figure.floatLeft blockquote,
  figure.floatRight blockquote{
    padding: 0;
    text-align: left;
  }
  figure.floatLeft blockquote p,
  figure.floatRight blockquote p{
    font-size: 1.2rem;
    line-height: 1.6875;
  }
  figcaption{
    line-height: 1.6875;
    margin-bottom: 0;
  }
  figure blockquote{
    padding: 3.375rem 0 1.6875rem;
    text-align: center;
  }
  figure blockquote p{
    font-size: 1.6875rem;
    line-height: 2.53125;
  }
  hr{
    margin-top: 3.375rem;
    margin-bottom: 3.375rem;
    height: 27px;
    height: 1.6875rem;
  }
  hr{
    background-size: 100% 27px;
    background-size: 100% 1.6875rem;
    background-image: -webkit-linear-gradient(top, transparent 1px, transparent 11.5px, #261D19 11.5px, #261D19 15.5px, transparent 15.5px, transparent 27px);
    background-image: linear-gradient(to bottom, transparent 1px, transparent 11.5px, #261D19 11.5px, #261D19 15.5px, transparent 15.5px, transparent 27px);
  }
  small{
    line-height: 0.84375;
  }
  code{
    padding: 1.6875rem;
  }
}
